/*
  Or add your statements here:
 */
body {
  font-family: "Lora", serif;
  text-align: left;
  border-top: 8px solid #333;
  display: grid;
  grid-template-columns: [start] 100fr [end];
  grid-template-rows: [header] auto [body] 100fr [footer] auto [end];
  grid-template-areas:
    "header"
    "body"
    "footer";
  min-height: 100vh;
  box-sizing: border-box;
}

#site-header {
  padding: 1rem;
  margin: 0px;
  position: relative;
  grid-area: header;
}

@media screen and (min-width: 500px) {
  #site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

#site-title {
  white-space: nowrap;
}

#site-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 1rem;
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'><path fill='none' stroke='#E57373' stroke-width='1' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/></svg>");
}

#site-body {
  grid-area: body;
  padding: 16px;
  max-width: 50em;
}

#site-body div + div {
  margin-top: 1.6em;
}

@media screen and (min-width: 1200px) {
  #site-body {
    max-width: none;
    display: grid;
    grid-template-columns: [start] 75% [middle] 100fr [end];
    grid-template-rows: auto auto;
    grid-column-gap: 40px;
    align-self: start;
  }

  #site-body .content {
    grid-column: 1/3;
  }
}

#site-footer {
  grid-area: footer;
  padding: 20px;
}

#site-title {
  text-transform: uppercase;
  margin: 0;
}

.book {
  flex-basis: 60%;
  position: relative;
}

.book .buy {
  font-size: 1.5em;
  color: #000;
  display: block;
  white-space: nowrap;
}

.book .cover {
  max-width: 100%;
  margin-bottom: 1em;
}

.book .buy {
  margin-bottom: 1em;
}

.book .endorsements blockquote {
  margin: 0 0 1em;
}
.book .endorsements cite {
  display: block;
  text-align: right;
}
.book .endorsements cite::before {
  content: "— ";
}

@media screen and (min-width: 500px) {
  .book {
    display: grid;
    grid-template-columns: 45% 100fr;
    grid-template-rows: 100fr auto;
    max-width: 900px;
  }

  .book .cover {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: end;
  }

  .book .endorsements {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 16px;
  }

  .book .buy {
    padding: 16px;
    margin: 0;
  }
}

#bio {
  margin-top: 2em;
}
