<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ block "title" . }} {{ .Site.Title }}{{ end }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}

  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  <link
    href="https://fonts.googleapis.com/css?family=Cabin|Lora:400,400i,700,700i"
    rel="stylesheet"
  />
  <script
    defer
    src="https://umami.usabilityproject.com/script.js"
    data-website-id="d94731c9-c04e-47e0-b576-097d14403832"
  ></script>
</head>
