{{ define "main" }}
  {{ partial "content" . }}
  <div class="book">
    <img  class="cover"
          sizes="(min-width: 40em) 80vw, 100vw"
          srcset="/images/small/{{ strings.TrimPrefix '/images/small/' .Params.book.image }} 480w,
          /images/medium/{{ strings.TrimPrefix '/images/small/' .Params.book.image }} 675w"
          src="/images/small/{{ strings.TrimPrefix '/images/small/' .Params.book.image }}"
          alt="{{ .Params.book.alt }}" />
          
          <a class="buy" href="{{ .Params.book.buy }}" title="Buy Trick of the Light by Laura Elvery">Buy now →</a>
    {{ with .Params.book.praise }}
    <div class="endorsements">
      {{ range . }}
      <blockquote>
        <p>{{ .quote | markdownify }}</p>
        <cite>{{ if (isset . "link") }}<a href="{{ .link }}">{{ .attribution }}</a>{{ else }}{{ .attribution }}{{ end }}</cite>
      </blockquote>
      {{ end }}
    </div>
    {{ end }}
  </div>
    
  <div id="bio">
    <h1>{{ .Params.bio.title }}</h1>
    <p>{{ .Params.bio.text | markdownify}}</p>
  </div>
{{ end }}
